# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: 'npm' # See documentation for possible values
    directory: '/' # Location of package manifests
    schedule:
      interval: 'weekly'
    groups:
      ionic:
        patterns:
          - '@ionic/*'
          - 'ionicons'
      capacitor:
        patterns:
          - '@capacitor/*'
      react-router:
        patterns:
          - 'react-router*'
          - '@types/react-router*'
      tanstack:
        patterns:
          - '@tanstack/*'
      testing:
        patterns:
          - '@testing-library/*'
          - 'vitest'
          - '@vitest/*'
      linting:
        patterns:
          - 'eslint*'
          - '@eslint/*'
          - 'eslint-*'
          - '@typescript-eslint/*'
          - 'prettier*'
