.modal {
  --height: 50%;
  --width: 100%;
  --border-radius: 48px;
  --box-shadow:
    0 20px 60px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.modalContent {
  box-shadow:
    0 20px 60px rgba(0, 0, 0, 0.6),
    inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.modalContent h1 {
  text-align: center;
}

.formFields {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 10px;
  margin: 1px;
}

.formFields :global(ion-item) {
  --background: transparent;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .modalContent {
    color: #fff;
  }

  .formFields :global(ion-item) {
    --color: #fff;
    --placeholder-color: rgba(255, 255, 255, 0.5);
  }
}
