@import 'variable.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.text-center {
  text-align: center;
}

.button-primary {
  background-color: var(--button-background);
  color: var(--button-text-color);
  padding: var(--padding-small);
  border-radius: var(--button-border-radius);
  font-size: var(--font-size-medium);
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-primary:hover {
  background-color: var(--secondary-color);
  transform: scale(1.05);
}
