name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    container:
      image: cypress/included:13.15.0

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install Dependencies
        run: npm install

      - name: Check Formatting
        run: npm run format:check

      - name: Lint
        run: npm run lint

      - name: Unit Tests with Coverage
        run: npm run test:coverage

      - name: Install dependencies for Codecov uploader (curl, gpg)
        run: |
          apt-get update
          apt-get install -y curl gnupg

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Build Project
        run: npm run build

      - name: Start Dev Server
        run: npm run dev & sleep 10

      - name: Run Cypress Tests
        run: npx cypress run
